{% extends 'admin/base.html.twig' %}

{% block title %}
    Modifier catégorie
{% endblock %}

{% block body %}
    <section class="w-1/2">
        <div>
            <h2 class="text-3xl font-bold my-4">Modifier une formation</h2>
            {{ form_start(form) }}

            {{ form_widget(form) }}
            <input type="submit" value="Ajouter" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

